@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700');

$font-code: 'Ubuntu Mono';
$font-text: $font-code;
$font-size: 14px;

@import "body";
@import "remark";

.route-index {
  padding: 25px;
}

.route-page {
  padding: 25px;
  > .placeholder {
    > .title {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
}
